@charset "utf-8";

.mariobross {
    height: 300px;
    width: 400px;
    border: 5px solid #C00;
    margin: 20px;
    padding: 20px;
    
    background: url(../images/f01.png) left bottom repeat-x, url(../images/f02.png) left bottom no-repeat, url(../images/f03.png) left top repeat-x;
    background-color: #00F;
}